@model epicuri.Core.DatabaseModel.Service

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Service</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Restaurant.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Restaurant.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ServiceName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ServiceName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DefaultMenu.MenuName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DefaultMenu.MenuName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Updated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Updated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsTakeaway)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsTakeaway)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SelfServiceMenu.MenuName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SelfServiceMenu.MenuName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" />
    </p>
}
