@model IEnumerable<epicuri.Core.DatabaseModel.ScheduleItem>

@{
    ViewBag.Title = "Index";
}

<h2>Schedule Items</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { controller = "ScheduleItem", id = ViewBag.ServiceId })
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Delay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Delay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id, controller="ScheduleItem" }) |
            @Html.ActionLink("Notifications", "Notifications", new { id=item.Id, controller="ScheduleItem" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id, controller = "ScheduleItem" })
        </td>
    </tr>
}

</table>
